!!!
%html
  %head
    %title Whoops Rails Notifier Example
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #wrapper
      %h1 Whoops Rails Notifier Example
      = yield
      
      #footer
        %p== All notifications get sent to #{link_to "the Whoops Engine example server", "http://whoops-example.heroku.com"}. The service is "whoopsrailsnotifierexample".
        %p
          Github repo for
          = link_to  "Whoops Rails Notifier", "https://github.com/flyingmachine/whoops_rails_notifier"
        %p
          Github repo for
          = link_to "this site", "https://github.com/flyingmachine/whoops-rails-notifier-example.heroku.com"
          , whoops-rails-notifier-example.heroku.com
